---
serverinventory:
{% for item in csvfile.split("\n") %}
{%   if loop.index != 1 %}
{%     set list = item.split(",") %}
  - Configuration_Item: '{{ list[0]|trim() }}'
    Release_date: '{{ list[1]|trim() }}'
    Release_enddate: '{{ list[2]|trim() }}'
  
{%   endif %}
{% endfor %}
